@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Zaloguj się przy urzyciu swojego adresu email i hasła, aby wyświetlić dostępne dokumenty.</p>
</div>
